extends _inc

block article
  article
    section.bread-crumb
      .container-fluid
        .bc-icons
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='index.html') Trang chủ
              li.breadcrumb-item
                a(href='tin-tuc.html') Tin tức
              li.breadcrumb-item.activeuis pretium gravida enim, vel maximus ligula fermentum a
    
    section.news-detail
      .container-fluid
        h2 Etiam convallis elementum sapien, a aliquam turpis aliquam vitae. Praesent sollicitudin felis vel mi facilisis posuere. Nulla ultrices facilisis justo, non varius nisl semper
        h3
          i.mdi.mdi-clock
          | 02/03/2019
        h4 Etiam convallis elementum sapien, a aliquam turpis aliquam vitae. Praesent sollicitudin felis vel mi facilisis posuere. Nulla ultrices facilisis justo, non varius nisl semper vel. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus at ante mattis, condimentum velit et, dignissim nunc. Integer quis tincidunt purus. Duis
        img(src='../img/news-1.png')
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur deserunt, blanditiis nulla totam fugit beatae repellendus! Ad nihil eligendi voluptatum et soluta veritatis recusandae illum necessitatibus expedita, voluptates commodi nemo.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur deserunt, blanditiis nulla totam fugit beatae repellendus! Ad nihil eligendi voluptatum et soluta veritatis recusandae illum necessitatibus expedita, voluptates commodi nemo.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur deserunt, blanditiis nulla totam fugit beatae repellendus! Ad nihil eligendi voluptatum et soluta veritatis recusandae illum necessitatibus expedita, voluptates commodi nemo.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur deserunt, blanditiis nulla totam fugit beatae repellendus! Ad nihil eligendi voluptatum et soluta veritatis recusandae illum necessitatibus expedita, voluptates commodi nemo.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur deserunt, blanditiis nulla totam fugit beatae repellendus! Ad nihil eligendi voluptatum et soluta veritatis recusandae illum necessitatibus expedita, voluptates commodi nemo.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur deserunt, blanditiis nulla totam fugit beatae repellendus! Ad nihil eligendi voluptatum et soluta veritatis recusandae illum necessitatibus expedita, voluptates commodi nemo.

    section.similar.similar-news
      .container-fluid
        .title-page
          h1 tin tức liên quan

        .box-news
          img(src='../img/news-1.png')
          .box-news-detail
            h4 
              a(href='chi-tiet-tin-tuc.html')
                | Sed a magna semper, porta purus eu, ullamcorper ligula. Nam sit amet consectetur sapien. Etiam dui ipsum, viverra vel turpis ut
            h3
              i.mdi.mdi-clock
              | 02/03/2019
            h5 Duis pretium gravida enim, vel maximus ligula fermentum a. Sed rhoncus eget ex id egestas. Nam nec nisl placerat, tempus erat a, condimentum metus. Curabitur nulla nisi, lacinia at lobortis at, suscipit at nibh. Proin quis lectus finibus, mollis purus vitae, rutrum neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam sed cursus metus, vel viverra mi. Mauris aliquet egestas eros ac placerat. Proin condimentum ligula at diam euismod fringilla et quis lacus.

          .box-news-btn.d-none.d-lg-block
            a(href='chi-tiet-tin-tuc.html') Xem chi tiết
        
        .box-news
          img(src='../img/news-1.png')
          .box-news-detail
            h4 
              a(href='chi-tiet-tin-tuc.html')
                | Sed a magna semper, porta purus eu, ullamcorper ligula. Nam sit amet consectetur sapien. Etiam dui ipsum, viverra vel turpis ut
            h3
              i.mdi.mdi-clock
              | 02/03/2019
            h5 Duis pretium gravida enim, vel maximus ligula fermentum a. Sed rhoncus eget ex id egestas. Nam nec nisl placerat, tempus erat a, condimentum metus. Curabitur nulla nisi, lacinia at lobortis at, suscipit at nibh. Proin quis lectus finibus, mollis purus vitae, rutrum neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam sed cursus metus, vel viverra mi. Mauris aliquet egestas eros ac placerat. Proin condimentum ligula at diam euismod fringilla et quis lacus.

          .box-news-btn.d-none.d-lg-block
            a(href='chi-tiet-tin-tuc.html') Xem chi tiết
        
        .box-news
          img(src='../img/news-1.png')
          .box-news-detail
            h4 
              a(href='chi-tiet-tin-tuc.html')
                | Sed a magna semper, porta purus eu, ullamcorper ligula. Nam sit amet consectetur sapien. Etiam dui ipsum, viverra vel turpis ut
            h3
              i.mdi.mdi-clock
              | 02/03/2019
            h5 Duis pretium gravida enim, vel maximus ligula fermentum a. Sed rhoncus eget ex id egestas. Nam nec nisl placerat, tempus erat a, condimentum metus. Curabitur nulla nisi, lacinia at lobortis at, suscipit at nibh. Proin quis lectus finibus, mollis purus vitae, rutrum neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam sed cursus metus, vel viverra mi. Mauris aliquet egestas eros ac placerat. Proin condimentum ligula at diam euismod fringilla et quis lacus.

          .box-news-btn.d-none.d-lg-block
            a(href='chi-tiet-tin-tuc.html') Xem chi tiết
        
        .box-news
          img(src='../img/news-1.png')
          .box-news-detail
            h4 
              a(href='chi-tiet-tin-tuc.html')
                | Sed a magna semper, porta purus eu, ullamcorper ligula. Nam sit amet consectetur sapien. Etiam dui ipsum, viverra vel turpis ut
            h3
              i.mdi.mdi-clock
              | 02/03/2019
            h5 Duis pretium gravida enim, vel maximus ligula fermentum a. Sed rhoncus eget ex id egestas. Nam nec nisl placerat, tempus erat a, condimentum metus. Curabitur nulla nisi, lacinia at lobortis at, suscipit at nibh. Proin quis lectus finibus, mollis purus vitae, rutrum neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam sed cursus metus, vel viverra mi. Mauris aliquet egestas eros ac placerat. Proin condimentum ligula at diam euismod fringilla et quis lacus.

          .box-news-btn.d-none.d-lg-block
            a(href='chi-tiet-tin-tuc.html') Xem chi tiết
        
        .box-news
          img(src='../img/news-1.png')
          .box-news-detail
            h4 
              a(href='chi-tiet-tin-tuc.html')
                | Sed a magna semper, porta purus eu, ullamcorper ligula. Nam sit amet consectetur sapien. Etiam dui ipsum, viverra vel turpis ut
            h3
              i.mdi.mdi-clock
              | 02/03/2019
            h5 Duis pretium gravida enim, vel maximus ligula fermentum a. Sed rhoncus eget ex id egestas. Nam nec nisl placerat, tempus erat a, condimentum metus. Curabitur nulla nisi, lacinia at lobortis at, suscipit at nibh. Proin quis lectus finibus, mollis purus vitae, rutrum neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam sed cursus metus, vel viverra mi. Mauris aliquet egestas eros ac placerat. Proin condimentum ligula at diam euismod fringilla et quis lacus.

          .box-news-btn.d-none.d-lg-block
            a(href='chi-tiet-tin-tuc.html') Xem chi tiết
        
        .box-news
          img(src='../img/news-1.png')
          .box-news-detail
            h4 
              a(href='chi-tiet-tin-tuc.html')
                | Sed a magna semper, porta purus eu, ullamcorper ligula. Nam sit amet consectetur sapien. Etiam dui ipsum, viverra vel turpis ut
            h3
              i.mdi.mdi-clock
              | 02/03/2019
            h5 Duis pretium gravida enim, vel maximus ligula fermentum a. Sed rhoncus eget ex id egestas. Nam nec nisl placerat, tempus erat a, condimentum metus. Curabitur nulla nisi, lacinia at lobortis at, suscipit at nibh. Proin quis lectus finibus, mollis purus vitae, rutrum neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam sed cursus metus, vel viverra mi. Mauris aliquet egestas eros ac placerat. Proin condimentum ligula at diam euismod fringilla et quis lacus.

          .box-news-btn.d-none.d-lg-block
            a(href='chi-tiet-tin-tuc.html') Xem chi tiết
        
        

 
        
