extends _inc

block article
  article
    section.bread-crumb
      .container-fluid
        .bc-icons
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='index.html') Trang chủ
              li.breadcrumb-item
                a(href='san-pham.html') Sản phẩm
              li.breadcrumb-item.active Dao bào mảnh dao ABC - 123

    section.product-page
      .container-fluid
        .main
          .product-detail
            .product-detail-1
              .row
                .col-md-6
                  .product-detail-1-img
                    img.main-image.xzoom(src='../img/product-1.png', xoriginal='../img/product-1.png')
                    .xzoom-thumbs
                      .owl-carousel.xzoom-carousel.owl-theme
                        .item
                          a(href='../img/product-1.png')
                            img.xzoom-gallery(src='../img/product-1.png', xpreview='../img/product-1.png')
                        .item
                          a(href='../img/product-2.png')
                            img.xzoom-gallery(src='../img/product-2.png', xpreview='../img/product-2.png')
                        .item
                          a(href='../img/product-1.png')
                            img.xzoom-gallery(src='../img/product-1.png', xpreview='../img/product-1.png')
                        .item
                          a(href='../img/product-2.png')
                            img.xzoom-gallery(src='../img/product-2.png', xpreview='../img/product-2.png')
                        .item
                          a(href='../img/product-1.png')
                            img.xzoom-gallery(src='../img/product-1.png', xpreview='../img/product-1.png')
                        .item
                          a(href='../img/product-2.png')
                            img.xzoom-gallery(src='../img/product-2.png', xpreview='../img/product-2.png')
                .col-md-6
                  .product-detail-1-detail
                    h2 Logitech G502 Proteus Spectrum
                    p Mã số: ABC - 123
                    p Quy cách:
                    p 
                      | Giá sản phẩm: Liên hệ 
                      span 0912 345 678 
                      | hoặc email: 
                      span luoicuagiare@gmail.com 
                      | để nhận bang báo giá cho sản phẩm này
                    h5
                      | This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
            .product-detail-2
              .product-detail-2-title
                ul.nav.nav-tabs.justify-content-center(role='tablist')
                  li.nav-item
                    a#desc-1-tab.nav-link.active(data-toggle='tab', href='#desc-1', role='tab', aria-controls='desc-1', aria-selected='true')
                      | Thông tin chi tiết
                  li.nav-item
                    a#desc-2-tab.nav-link(data-toggle='tab', href='#desc-2', role='tab', aria-controls='desc-2', aria-selected='true')
                      | Hình ảnh
                  li.nav-item
                    a#desc-3-tab.nav-link(data-toggle='tab', href='#desc-3', role='tab', aria-controls='desc-3', aria-selected='true')
                      | Video
              .tab-content
                #desc-1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='desc-1-tab')
                  p
                    | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.
                  p
                    | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.
                  p
                    | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.
                  p
                    | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.
                
                #desc-2.tab-pane.fade(role='tabpanel', aria-labelledby='desc-2-tab')
                  img(src='../img/product-1.png')
                
                #desc-3.tab-pane.fade(role='tabpanel', aria-labelledby='desc-3-tab')
                  iframe(width='100%', height='500px', src='https://www.youtube.com/embed/CwxCTXqse1s', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

          

        .right.d-none.d-lg-block
          .category-right
            .title-right
              h4 Danh mục sản phẩm

            #productCate
              li.list-cate-title-li
                a.list-cate-title(data-toggle='collapse', href='#cate-left-1', role='button', aria-expanded='true', aria-controls='cate-left-1')
                  | LƯỠI CƯA LH
                i.mdi.mdi-plus
              #cate-left-1.collapse(data-parent='#productCate')
                .card.card-body.list-cate
                  ul
                    li
                      a(href='san-pham.html')
                        i.mdi.mdi-minus
                        |  Razer
                    li
                      a(href='san-pham.html')
                        i.mdi.mdi-minus
                        |  Steelseries
                    li
                      a(href='san-pham.html')
                        i.mdi.mdi-minus
                        |  Logitech
                    li
                      a(href='san-pham.html')
                        i.mdi.mdi-minus
                        |  Zowie
                    li
                      a(href='san-pham.html')
                        i.mdi.mdi-minus
                        |  Microsoft
                    li
                      a(href='san-pham.html')
                        i.mdi.mdi-minus
                        |  Alienware

              li.list-cate-title-li
                a.list-cate-title(data-toggle='collapse', href='#cate-left-2', role='button', aria-expanded='true', aria-controls='cate-left-2')
                  | DAO PHAY MỌNG FINGER
                i.mdi.mdi-plus
              #cate-left-2.collapse(data-parent='#productCate')
                .card.card-body.list-cate
                  ul
                    li
                      a(href='san-pham.html')
                        i.mdi.mdi-minus
                        | Fuhlen
                    li
                      a(href='san-pham.html')
                        i.mdi.mdi-minus
                        | Fuhlen
                    

              li.list-cate-title-li
                a.list-cate-title(data-toggle='collapse', href='#cate-left-3', role='button', aria-expanded='true', aria-controls='cate-left-3')
                  | DAO BÀO MẢNH DAO (DAO MIẾNG RỜI) - Ổ DAO BÀO
                i.mdi.mdi-plus
              #cate-left-3.collapse(data-parent='#productCate')
                .card.card-body.list-cate
                  ul
                    li
                      a(href='san-pham.html')
                        i.mdi.mdi-minus
                        | Asus
                    li
                      a(href='san-pham.html')
                        i.mdi.mdi-minus
                        | Fuhlen
                  

              li.list-cate-title-li
                a.list-cate-title(data-toggle='collapse', href='#cate-left-4', role='button', aria-expanded='true', aria-controls='cate-left-4')
                  | MŨI KHOAN CNC
                i.mdi.mdi-plus
              li.list-cate-title-li
                a.list-cate-title(data-toggle='collapse', href='#cate-left-5', role='button', aria-expanded='true', aria-controls='cate-left-5')
                  | MÁY CHẾ BIẾN GỖ
                i.mdi.mdi-plus
              li.list-cate-title-li
                a.list-cate-title(data-toggle='collapse', href='#cate-left-6', role='button', aria-expanded='true', aria-controls='cate-left-6')
                  | VẬT TƯ NGÀNH GỖ KHÁC
                i.mdi.mdi-plus
          
          .seller-right
            .title-right
              h4 sản phẩm bán chạy

            .box-product-right
              .box-product-right-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-1.png')
              .box-product-right-detail
                h4
                  a(href='chi-tiet-san-pham.html', title='Dao bào mảnh dao ABC - 123')
                    | Dao bào mảnh dao ABC - 123
                h5 MSP: ABC - 123
            
            .box-product-right
              .box-product-right-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-2.png')
              .box-product-right-detail
                h4
                  a(href='chi-tiet-san-pham.html', title='Dao bào mảnh dao ABC - 123')
                    | Dao bào mảnh dao ABC - 123
                h5 MSP: ABC - 123
            
            .box-product-right
              .box-product-right-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-1.png')
              .box-product-right-detail
                h4
                  a(href='chi-tiet-san-pham.html', title='Dao bào mảnh dao ABC - 123')
                    | Dao bào mảnh dao ABC - 123
                h5 MSP: ABC - 123
            
            .box-product-right
              .box-product-right-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-2.png')
              .box-product-right-detail
                h4
                  a(href='chi-tiet-san-pham.html', title='Dao bào mảnh dao ABC - 123')
                    | Dao bào mảnh dao ABC - 123
                h5 MSP: ABC - 123
            
            .box-product-right
              .box-product-right-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-1.png')
              .box-product-right-detail
                h4
                  a(href='chi-tiet-san-pham.html', title='Dao bào mảnh dao ABC - 123')
                    | Dao bào mảnh dao ABC - 123
                h5 MSP: ABC - 123
            
    section.similar
      .container-fluid
        .title-page
          h1 sản phẩm liên quan
        
        .owl-carousel.product-carousel.owl-theme
          .item
            .box-product
              .box-product-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-2.png')
                .box-product-img-custom
                  a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
                      i.mdi.mdi-eye-plus
              .box-product-detail.text-center
                h5 MSP: MH-370
                h4
                  a(href='chi-tiet-san-pham.html', title='Briggs & Stratton 30W Engine')
                    | Briggs Stratton 30W Engine

          .item
            .box-product
              .box-product-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-2.png')
                .box-product-img-custom
                  a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
                      i.mdi.mdi-eye-plus
              .box-product-detail.text-center
                h5 MSP: MH-370
                h4
                  a(href='chi-tiet-san-pham.html', title='Briggs & Stratton 30W Engine')
                    | Briggs Stratton 30W Engine

          .item
            .box-product
              .box-product-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-1.png')
                .box-product-img-custom
                  a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
                      i.mdi.mdi-eye-plus
              .box-product-detail.text-center
                h5 MSP: MH-370
                h4
                  a(href='chi-tiet-san-pham.html', title='Briggs & Stratton 30W Engine')
                    | Briggs Stratton 30W Engine

          .item
            .box-product
              .box-product-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-1.png')
                .box-product-img-custom
                  a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
                      i.mdi.mdi-eye-plus
              .box-product-detail.text-center
                h5 MSP: MH-370
                h4
                  a(href='chi-tiet-san-pham.html', title='Briggs & Stratton 30W Engine')
                    | Briggs Stratton 30W Engine

          .item
            .box-product
              .box-product-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-2.png')
                .box-product-img-custom
                  a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
                      i.mdi.mdi-eye-plus
              .box-product-detail.text-center
                h5 MSP: MH-370
                h4
                  a(href='chi-tiet-san-pham.html', title='Briggs & Stratton 30W Engine')
                    | Briggs Stratton 30W Engine

          .item
            .box-product
              .box-product-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-1.png')
                .box-product-img-custom
                  a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
                      i.mdi.mdi-eye-plus
              .box-product-detail.text-center
                h5 MSP: MH-370
                h4
                  a(href='chi-tiet-san-pham.html', title='Briggs & Stratton 30W Engine')
                    | Briggs Stratton 30W Engine

          .item
            .box-product
              .box-product-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-2.png')
                .box-product-img-custom
                  a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
                      i.mdi.mdi-eye-plus
              .box-product-detail.text-center
                h5 MSP: MH-370
                h4
                  a(href='chi-tiet-san-pham.html', title='Briggs & Stratton 30W Engine')
                    | Briggs Stratton 30W Engine

    section.contact-product
      .container  
        .title-page
          h1 LIÊN HỆ VỚI CHÚNG TÔI ĐỂ ĐƯỢC TƯ VẤN MIỄN PHÍ
          h5 Quý khách vui lòng điền đầy đủ thông tin phía dưới
        
        form
          .row
            .col-md-4
              p Họ tên:
              input.form-control(type="text")
            .col-md-4
              p Email:
              input.form-control(type="text")
            .col-md-4
              p Số điện thoại:
              input.form-control(type="text")
            .col-md-12
              p Lời nhắn:
              textarea.form-control
            
            .col-md-12.text-center 
              button.btn.btn-primary.mt-4 GỬI NGAY
